@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "DM Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-padding: 2rem;
}

@media screen and (max-width: 8192px) {
  body {
    display: none;
  }
}

@media screen and (max-width: 3120px) {
  ::-webkit-scrollbar {
    display: none;
  }
  br::selection,
  img::selection {
    background: none;
  }
  body {
    display: block;
    overflow-x: hidden;
    background-color: #1c1c1c;
  }
  #animate-text :not(.text-in) {
    display: none;
  }
  #menu-dropdown {
    top: 34.5rem;
  }
}

@media screen and (max-width: 2080px) {
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1680px) {
  #menu-dropdown {
    top: 33rem;
  }
}

@media screen and (max-width: 1440px) {
  #menu-dropdown {
    top: 31rem;
  }
}

@media screen and (max-width: 1280px) {
  #menu-dropdown {
    top: 56rem;
  }
}

@media screen and (max-width: 1160px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 864px) {
}

@media screen and (max-width: 768px) {
  #menu-dropdown {
    top: 55rem;
  }
}

@media screen and (max-width: 640px) {
  #menu-dropdown {
    top: 49rem;
  }
}

@media screen and (max-width: 480px) {
  #how-it-works {
    height: 26rem;
  }
  #tools {
    height: 28rem;
  }
  #menu-dropdown {
    top: 46rem;
  }
}

@media screen and (max-width: 360px) {
  #how-it-works,
  #tools {
    height: 31rem;
  }
  #menu-dropdown {
    top: 42rem;
  }
}

@media screen and (max-width: 324px) {
  * {
    display: none;
  }
}